.container{
    background-color: rgb(235, 202, 159);
    height: 100vh
}

#titulo-pagina{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
#to-do-list{
    margin-right: 20%;
    margin-left: 20%;
    width:auto ;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    border-collapse: separate;
}
#myInput{
    display: inline-table;
}
#td-item{
    vertical-align: middle;
}
.linhas-tabela{
    height: 35px;
}
.classes{
    float: right;
    color: grey;
    font-size: 0.8em;
}
.icone-remove{
    color: red;
}
.icone-ok{
    color: green;
} 
.btn-remove{
    float: right;
}
tfoot button{
 
    float: right;
    padding-left: 10px;
    color:blue;
}
tfoot button:active{
    color: grey;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
.concluido{
    border: 2px solid greenyellow;
}

@media only screen and (max-width: 600px){
    .container, img {
        width: 100%;
    }
    .input-group-btn{
        position: absolute;
        transform: translateX(9100%);
    }
    #myInput{
        width: 100%;
    }
    .btn-remove{
        position: absolute;
    }
}
/*`
                <tr class='linhas-tabela'>
                    <td class='col-lg-8 col-md-8 col-xs-8' id='td-item'>
                        ${tarefa.item} 
                        <i class='classes'>
                            ${tarefa.classe}
                        </i>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-ok" onClick='controller.conclui(event, this, "${tarefa}")'>
                            <span class="glyphicon glyphicon-ok icone-ok" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-remove" onclick='controller.remove(event)'>
                            <span class="glyphicon glyphicon-remove icone-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>` */