.container{
    background-color: burlywood;
    height: 100vh
}

#titulo-pagina{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
#to-do-list{
    margin-right: 20%;
    margin-left: 20%;
    width:auto ;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    border-collapse: separate;
}
#myInput{
    display: inline-table;
}
#td-item{
    vertical-align: middle;
}
.linhas-tabela{
    height: 35px;
}
.classes{
    float: right;
    color: grey;
    font-size: 0.8em;
}
.icone-remove{
    color: red;
}
.icone-ok{
    color: green;
} 
.btn-remove{
    float: right;
}
@media only screen and (max-width: 600px){
    .container, img {
        width: 100%;
    }
    .input-group-btn{
        position: absolute;
        transform: translateX(9100%);
    }
    #myInput{
        width: 100%;
    }

}