.container{
    background-color: rgb(235, 202, 159);
    height: 100vh
}

#titulo-pagina{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
#to-do-list{
    margin-right: 20%;
    margin-left: 20%;
    width:auto ;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    border-collapse: separate;
}
#myInput{
    display: inline-table;
}
#td-item{
    vertical-align: middle;
}
.linhas-tabela{
    height: 35px;
}
i{
    float: right;
    color: grey;
    font-size: 0.8em;
}
.icone-remove{
    color: red;
    pointer-events: none
}
.icone-ok{
    color: green;
    pointer-events: none
} 
.btn-remove{
    float: right;
}
tfoot button{
 
    float: right;
    padding-left: 10px;
    color:blue;
}
tfoot button:active{
    color: grey;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
.efeitoOk{
    background-color: greenyellow;
}
.concluido{
    border: 10px solid greenyellow;
}
tfoot button:nth-child(-n+2){
    float: left;
}


}
@media only screen and (max-width: 600px){
    .container, img {
        width: 100%;
    }
    .input-group-btn{
        position: absolute;
        transform: translateX(9100%);
    }
    #myInput{
        width: 100%;
    }
    .btn-remove{
        position: absolute;
    }
}
